<?xml version="1.0" encoding="utf-8"?>
	<config>
         <modules>
			<Oscp_TopMenu>
			   <version>1.0.0</version>           
			</Oscp_TopMenu>
        </modules>
		<global>
			   <resources>
				<topmenu_setup>
					<setup>
						<module>Oscp_TopMenu</module>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</topmenu_setup>
				<topmenu_write>
					<connection>
						<use>core_write</use>
					</connection>
				</topmenu_write>
				<topmenu_read>
					<connection>
						<use>core_read</use>
					</connection>
				</topmenu_read>
			 </resources>
			 <blocks>
                <oscp_topmenu><class>Oscp_TopMenu_Block</class></oscp_topmenu>
				<page>
                   <rewrite>
                       <html_topmenu>Oscp_TopMenu_Block_Page_Html_Topmenu</html_topmenu>
                   </rewrite>
				</page>
		    </blocks>
		</global>
    </config>