<?xml version="1.0"?>
<config>
    <modules>
        <Oscp_Shippicker>
            <version>0.1.0</version>
        </Oscp_Shippicker>
    </modules>
    <frontend>
        <routers>
            <shippicker>
                <use>standard</use>
                <args>
                    <module>Oscp_Shippicker</module>
                    <frontName>shippicker</frontName>
                </args>
            </shippicker>
        </routers>
        <layout>
            <updates>
                <shippicker>
                    <file>shippicker.xml</file>
                </shippicker>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<shippicker>
				<use>admin</use>
				<args>
					<module>Oscp_Shippicker</module>
					<frontName>shippicker</frontName>
				</args>
			</shippicker>
        </routers>
    </admin>
    <global>
    	<events>
    		<controller_action_predispatch_checkout_cart_index >
    			<observers>
    				<preIndex>
    					<class>shippicker/observer</class>
                        <method>setShipping</method>
    				</preIndex>
    			</observers>
    		</controller_action_predispatch_checkout_cart_index>
    	</events>
    	<sales>
            <quote>
                <totals>
                    <shipping>
                    	<class>shippicker/sales_quote_address_total_shipping</class>
                        <renderer>shippicker/checkout_total_shipping</renderer>
                    </shipping>
                </totals>
            </quote>
        </sales>
        <models>
            <shippicker>
                <class>Oscp_Shippicker_Model</class>
                <resourceModel>shippicker_mysql4</resourceModel>
            </shippicker>
            <shippicker_mysql4>
                <class>Oscp_Shippicker_Model_Mysql4</class>
                <entities>
                    <shippicker>
                        <table>shippicker</table>
                    </shippicker>
                </entities>
            </shippicker_mysql4>
        </models>
        <resources>
            <shippicker_setup>
                <setup>
                    <module>Oscp_Shippicker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippicker_setup>
            <shippicker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippicker_write>
            <shippicker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippicker_read>
        </resources>
        <blocks>
            <shippicker>
                <class>Oscp_Shippicker_Block</class>
            </shippicker>
        </blocks>
        <helpers>
            <shippicker>
                <class>Oscp_Shippicker_Helper</class>
            </shippicker>
        </helpers>
    </global>
</config>