.modgit/
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/Mage.php
media/catalog/product/cache/
var/
var/cache
var/locks
var/log

