<!--@subject Product Enquiry Form @-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table>
		  <tr>
			 <td>
				 Name: {{var data.fname}}{{var data.lname}}
			</td>
		  </tr>
		  <tr>
			 <td>
				Product Name: {{var data.productname}}
			 </td>
		  </tr> 
		  <tr>
			 <td>
				Product Sku: {{var data.productsku}}
			 </td>
		  </tr>
		  <tr>
			 <td>
				 Email Address: {{var data.email}}
			</td> 
		  </tr>
		  <tr>
			 <td>
				Subject: {{var data.subject}}
			 </td>
		  </tr>
		  <tr>
			 <td>
				Question: {{var data.question}}
			 </td>
		  </tr>
		</table>
	</div>
</body>

