 /*  - - - -  Terms and condition Page - - - -*/

.cms-terms-and-conditions .page-title h1, .cms-privacy-policy .page-title h1 { 
  padding: 4% 0 0 1% !important;
  color: #FFFFFF;
  font-family: oswald;
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
  height: 20px;
  }
 .cms-terms-and-conditions .std p a {
  color: #494956;
  font-family: oswald;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
.cms-terms-and-conditions .std p, .cms-privacy-policy .std p  {
  color: #FFFFFF;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  padding: 0 0 29px !important;
  border-bottom: medium none !important;
}
.cms-terms-and-conditions .std .sub-title {
  color: #FFFFFF;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 7px;
}
.cms-terms-and-conditions .std, .cms-privacy-policy .std {
  padding: 35px 1% 7%;
  width: 97%;
}
 /*  - - - -  Contact US Page - - - -*/
.contact-page .contact-image {
  float: left;
  padding: 3.8% 0 0 2%;
  width: 100%;
  margin-bottom: 5%;
}
.contact-page .remade-logo {
  float: left;
  width: 43%;
}
.contact-page .remade-logo img {
  max-width: 100%;
}
.contact-page .tel-mail {
  float: left;
  margin-left: 10%;
  width: 47%;
  padding: 2% 0 0;
}
.contact-page .tel {
  background: url("../images/contactsprite.png") no-repeat scroll 0 0  transparent;
  height: 40px;
}
.contact-page .email {
  background: url("../images/contactsprite.png") no-repeat scroll 0 -40px  transparent;
  margin: 13px 0;
 }
.contact-page .page-title {
  background: url("../images/spritestrip.png") repeat-x scroll 0 -10px  transparent;
  clear: both;
}
.contact-page .page-title > p {
  background: url("../images/green-cup-strip.png") repeat-x scroll 0 4px transparent;
  color: #FFFFFF;
  font-family: oswald;
  font-size: 17px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  width: 264px;
  white-space: nowrap;
}
.remade-contact {
  clear: both;
  height: 159px;
  width: 100%;
}
.contacts-index-index .breadcrumbs {
  margin-bottom: 2% !important;
}
.contact-page .tel span {
  color: #FFFFFF;
  font-family: oswald;
  font-size: 19px;
  font-weight: 400;
  padding: 0 0 0 11%;
}
.contact-page .email > span {
 padding: 0 0 0 60px;
}
.contact-page .email a {
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 400;
  font-family: oswald;
}
.contact-page .connect-link ul li.blog  {
   background: url("../images/contactsprite.png") no-repeat scroll 0 -69px  transparent;
 }
.contact-page .connect-link li {
  float: left;
  height: 50px;
  margin: 0 4px;
  width: 50px;
}
.contact-page .connect-link ul li.facebook  {
  background: url("../images/contactsprite.png") no-repeat scroll 0 -112px transparent;
}
.contact-page .connect-link ul li.twitter {
  background: url("../images/contactsprite.png") no-repeat scroll 0 -155px  transparent;
}
.contact-page .connect-link ul li.Pinterest {
  background: url("../images/contactsprite.png") no-repeat scroll 0 -199px rgba(0, 0, 0, 0);
 }
 .contact-page .connect-link ul li.Instagram {
  background: url("../images/contactsprite.png") no-repeat scroll 0 -245px  transparent;
}
.remade-question > p {
  padding: 0 0 16px 0;
}
.remade-question  p{
  color: #494956;
  font-family: oswald;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}
.contact-details .remade-ques {
  float: left;
  padding: 0 10% 0 0;
  width: 35% ;
}
.contact-page .contact-details #contactForm {
  float: left;
  padding:0;
  width: 65%;
}
.contact-page .contact-details {
  float: left;
  margin: 3% 0 0 1% !important;
  width: 99%;
 }
 .form-list > li {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
#contactForm #comment {
  width: 100%;
}
.contact-page .buttons-set {
  border: medium none;
  float: right;
  margin: 0;
  padding: 0;
}
#contactForm .input-box {
  float: left;
  padding: 0 0 16px;
  width: 70%;
}
#contactForm label {
  color: #FFFFFF;
  float: left;
  font-family: oswald;
  font-size: 14px;
  font-weight: 400;
  min-width: 28%;
}
#contactForm .input-box input {
  width: 100%;
}
#contactForm .fieldset {
  float: left;
  margin: 0 0 18px;
}
#contactForm .form-list {
  float: left;
}
.contacts-index-index .buttons-set p.required {
  color: #FFFFFF;
  font-family: oswald;
  font-size: 14px;
  font-weight: 300;
  padding-right: 40px;
}
.contact-page button {
  background-color:#E87E62;
}
.contact-page .button > span {
  color: #FFFFFF;
  font-size: 16.01px;
  font-family: oswald;
  font-weight: 400;
  text-transform: uppercase;
}
#contactForm label.required:after {
  color: #FFFFFF !important;
}
#contactForm .input-box1 {
  float: left;
  margin-bottom: 17px;
  width: 36%;
}
#contactForm select {
  border-radius: 7px;
  width: 100%;
}
#contactForm .input-text {
  color: #525154;
  font-family: helvetica;
  font-size: 11px;
  font-weight: 400;
}
.contact-page .buttons-set .button {
  float: right;
}
#contactForm .form-list .field {
  margin-bottom: 0px !important;
}
.contacts-index-index .button:hover {
  background: none repeat scroll 0 0 #D36B53 !important;
}
 /*  - - - - Delivery Details Page - - - -*/
 .delivery-details-image {
   width: 32%;
   padding: 40px 6px 5px;
}

 /*  - - - - Privacy Policy Page - - - -*/
.cms-privacy-policy  .std  h2 {
  color: #FFFFFF !important;
  font-family: oswald;
  font-size: 18px;
  font-weight: 400;
}
.std .collect-info li{
  color: #FFFFFF ;
  font-family: oswald ;
  font-size: 16px ;
  font-style: normal ;
  font-weight: 300 ;
  margin: 0 0 0 17px;
}
.cms-privacy-policy .std .sub-title {
  color: #FFFFFF;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 7px;
}


  /* - - - -  How-to-join-us  Page - - - -  */

.join-page .signup-page{
   background: url("../images/spritestrip.png") repeat-x scroll 0 -34px  transparent;
  float: left;
  margin-bottom: 5%;
  padding: 0 1%;
}
.join-page .sign-desc p {
  color: #494956;
  font-family: oswaldlight;
  font-size: 20px;
  margin: 10px;
}
.join-page {
  float: left;
  width: 98%;
}
.join-page .join-image {
  float: left;
 padding: 40px 0 5px;
  width: 55%;
}
.join-page img {
  max-width: 100% !important;
}
.join-page .how-to-join {
  float: right;
  margin: 9% 0 0;
  width: 45%;
  text-align: right;
}
.join-page .join-us .join-logo {
  width: 68%;
 }
.join-page .join-account {
  padding: 0 10px 0 7px;
}
.signup-page .sign-logo {
  width: 55%;
}
.signup-page .sign-desc {
  padding: 5% 0 0 5%;
  width: 100%;
}
.signup-page .remade-sign {
  width: 78%;
  margin: 3% 0 0 21%;
}
.signup-page .sign-image {
   float: left;
   padding: 5.5% 0 5px 6px;
   width: 53%;
}
.signup-page .signup {
  float: left;
  width: 47%;
  }
.signup-page .sign-list a {
  color: #494956;
  font-family: oswaldlight;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
  padding: 0 0 0 3%;
}
.sign-list {
  padding: 0 0 0 4%;
}
.signup-page .signup-img {
  float: left;
  margin-top: 7%;
  text-align: right;
  width: 47%;
}

 /* - - - -  Becoming a Remade retailer Page - - - -  */
.can-sell , .why-join-rmib, .how-work{
    background: url("../images/spritestrip.png") repeat-x scroll 0 -34px rgba(0, 0, 0, 0);
   margin: 0 0 50px;
   float:left;
   }
.become-remade-retailer .retailer-image{ 
    padding: 40px 6px 5px;
     width: 50%;
   }

.std .become-remade-retailer p, .why-join-rmib p {
   color: #494956;
   font-family: oswaldlight;
   font-size: 20px;
   margin:10px;
 }
.can-sell .can-sell-image {
   padding: 30px 0 35px 5px;
   width: 34%;
 }
.cms-become-a-remade-retailer .std  img {
  max-width: 100%;
 }
.can-sell .description {
  color: #494956;
  font-family: oswaldlight;
  font-size: 20px;
  font-style: normal;
  padding: 4% 2% 0;
 }
.goods-img li {
  float: left;
  width: 33.32%;
  list-style: none;
 }
.why-join-rmib .rmib-image {
  padding: 38px 0 16px 5px;
  width: 33%;
}
.how-work .work-image {
  padding: 38px 0 16px 5px;
  width: 33%;
}
.how-work p {
  color: #494956;
  font-family: oswaldlight;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 15px;
  clear: both;
}
.work-gallery li {
  float: left;
  list-style: none ;
  margin: 0 3%;
  width: 18%;
}
.can-sell .goods-img {
  float: left;
}
.work-gallery {
  float: left;
  width: 100%;
  margin-bottom: 6% !important;
}
.std .go-back h1 {
  display: none;
}
/* - - - -  whai-is-upcycling - - - -*/
.what-can-be-upcycled, .the-modern-upcycler{
 background: url("../images/spritestrip.png") repeat-x scroll 0 -34px  transparent;
  float: left;
  padding: 40px 6px 5px;
  margin-bottom: 50px;
}
.what-is-upcycling .upcycling-image {
  width: 51%;
  float: left;
}
.cms-what-is-upcycling  .std img {
  max-width: 100%;
}
.what-is-upcycling .upcyling-logo {
  width: 69%;
}
.what-is-upcycling .upcycling-desc  p, .what-can-be-upcycled .upcycled-img p, .the-modern-upcycler .modern-image p {
  font-family: oswaldlight;
  font-size: 20px;
  color: #494956;
  margin: 10px 0 25px;
}
.what-is-upcycling .upcycling {
  float: left;
  width: 46%;
  text-align: right;
   margin: 3% 0 0;
}
.what-can-be-upcycled .upcycled-img {
  width: 52%;
  float: left;
}
.what-can-be-upcycled .almost-anything {
  float: left;
  text-align: right;
  width: 48%;
  margin: 5% 0 0;
}
.info {
  color: #FFFFFF !important;
}
.what-can-be-upcycled .upcycled-objects {
  clear: both;
  float: left;
}
.upcycled-objects .obj1 , .obj2, .obj3, .obj4{
  float: left;
  padding: 4px;
  width: 25%;
}
.the-modern-upcycler .modern-logo {
  width: 77%;
}
.the-modern-upcycler .modern-image {
  float: left;
  width: 51%;
}
.the-modern-upcycler .remade-modern {
  float: left;
  text-align: right;
  width: 49%;
  margin: 13% 0 0;
}
.what-can-be-upcycled .upcycled-logo {
  width: 81%;
}

/* - - - -  About -Us  - - - -*/
 .cms-page-view  .col2-left-layout .col-main {
  float: none;
  padding:0;
  width:100%;
}
.cms-content p{
  color: #FFFFFF;
  font-family: oswald;
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
}
.cms-content img{
  max-width: 100%;
}
.about-us-image {
  width: 45%;
  padding: 40px 6px 5px;
}
/* - - - - promotions-and-avents - - -*/
.promotions-image, .marketplace-image, .remade-courses-image {
   width: 100%;
   padding: 40px 6px 5px;
}
/* - - - - materials-marketplace - - -*/

/* - - - -  Remade Blog - - - -*/
/* - - - -  Blog Landing - - - -*/
.blog-index-list .menu-recent h5, .menu-categories h5, .blog-post-view .menu-recent h5{
  color: #FFFFFF;
  font-family: oswald;
  font-size: 17px;
  font-weight: 400;
 }
 .blog-post-view .collapsible .block-content li a, .blog-index-list .collapsible .block-content li a, .block-blog .menu-tags UL LI a {
  font-family:oswald;
  font-size: 17px;
  font-weight: 400;
  color: #494956;
}
.block-title .menu-recent > h5{
  font-family:oswald;
  font-size: 17px;
  font-weight: 400;
  color: #494956;
}

.blog-index-list .menu-recent h3, .blog-post-view .menu-recent h3  {
  font-family: oswaldlight;
  font-size: 17px;
  color: #494956;
}

.blog-post-view .postWrapper .postTitle {
  background: url("../images/spritestrip.png") repeat-x scroll 0 22px transparent;
  border: medium none;
}
.blog-index-list .postTitle a, .blog-post-view .postTitle h2 {
  background: url("../images/spritestrip.png") repeat-x scroll 0 42px transparent;
  color: #ffffff;
  display: block;
  font-family: oswaldlight;
  font-size: 22px;
  height: 50px;
  text-transform: capitalize;
}
.blog-index-list .postContent img, .blog-post-view .postContent img  {
 float: left;
 padding: 0 17px 0 0;
}
.blog-index-list .blog-desc, .blog-post-view .blog-desc{
  color: #FFFFFF;
  font-family: oswaldlight;
  font-size: 18px;
  line-height: 1.8;
}
.blog-index-list .postDetails,.comment, .posted-tag, .blog-post-view .postDetails, .comment,.posted-tag {
  color: #494956;
  font-family: oswaldlight;
  font-size: 13px;
  line-height: 1.8;
}
.blog-index-list .col2-left-layout .col-main, .blog-post-view .col2-left-layout .col-main {
  width: 76%;
}
.blog-index-list .col-left, .blog-post-view .col-left {
 width: 19% ;
}
.blog-post-view .required {
  color: #494956 !important;
  font-family: oswaldlight !important;
  font-size: 16px !important;
}
.blog-post-view .required-entry {
  width: 60% !important;
}
.blog-post-view .button-set {
  text-align: right;
  width: 60% !important;
}
.blog-post-view .postTitle h4 {
  color: #494956;
  font-family: oswald;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-post-view #postComment .button:hover {
  background: #D36B53;
}
.blog-post-view #postComment .button {
  font-family: oswald;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.blog-post-view .postTitle {
  border: medium none;
}
.blog-index-list .menu-categories a, .blog-post-view .menu-categories a {
  text-decoration: underline;
}
.blog-index-list  .menu-categories {
 padding-top: 31px;
}
.blog-post-view .posted-tag, .comment {
  padding: 0;
}
 .blog-index-list .block-title, .blog-post-view .block-title 
 {
  border-top:none;
 }
 .commentWrapper .commentDetails h4 {
  text-transform: lowercase;
}
/* - - - - product listing page - - -*/
 .category-products .sort-by label, .category-products .pager .limiter label{
  color: #FFFFFF;
  font-family: oswald;
  font-size: 14px !important;
  font-weight: 400;
  float:left;
  padding: 6px;
}
.category-products .pager-list li{
  color: #494956;
  font-family: oswaldlight;
  font-size: 14px;
  float:left;
 padding: 2px 10px 0 13px !important;
}
.category-products .toolbar {
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px 10px 0;
  background:none;
  border:none;
  background: url("../images/whitestrip.png") repeat-x scroll 0 39px  transparent;
 }
.category-products .sort-list {
  float: left;
}
.sort-list li, .pager-list li {
 float: left;
 padding: 2px 0 0 13px !important;
 background: url("../images/listing-sep.png") no-repeat scroll 0 9px transparent;

}
.sort-list .sorter_name, .pager .amount-pages, .first-page .first, .last-page .last, .per-page{
  color: #494956 !important;
  font-family: oswaldlight;
  font-size: 14px;
  
}
.category-products .pager {
  margin-left: 50px;
  clear: none;
}
.category-products .pager .pager-list {
  float: left;
}
.latest-products .itemslider-similar-main .products-grid > li {
  float: left;
  width: 33.33%;
}
.amount-pages {
  float: left;
}
.col2-left-layout .col-main {
  float: left;
  margin-left: 2% !important;
  width: 78% !important;
}
.catalog-category-view .col-left{
width:20%;
}
.category-products .products-grid li.item .productbg span.new {
  right: 38px;
  top: 9px;
}
.title-description .page-title h1 {
  color: #494956;
  font-family: oswaldlight;
  font-size: 28px;
  text-transform: capitalize;

}
.catalog-category-view .category-title-description {
  background-color: #FFFFFF;
  height: auto;
  margin: 2% 0 0;
  float: left;
  padding: 5px 9px 5px 20px;
}
.category-title-description .category-image {
  float: left;
  margin: 0;
  padding: 0;
  width: 30%;
  border: none;
  }
.category-title-description .category-image img {
  max-width: 100%;
}
.category-title-description .category-description.std {
  color: #494956;
  font-family: oswaldlight;
  font-size: 16px;
  padding:0;
 }
.category-title-description .title-description {
  float: left;
  width: 68%;
  margin: 0 2% 0 0;
  
}
.catalog-category-view .category-description.std > p {
  margin: 2% 0 0;
}
.catalog-category-view .products-grid .actions ul li.add-wishlist a {
  background: url("../images/spritehome.png") no-repeat scroll -52px -174px  transparent;
  display: block;
  height: 34px;
  text-decoration: none;
  width: 32px;
}
.catalog-category-view .products-grid .actions ul li.add-compare a {
  background: url("../images/spritehome.png") no-repeat scroll -92px -174px  transparent;
  display: block;
  height: 34px;
  text-decoration: none;
  width: 32px;
}
.catalog-category-view .products-grid .actions ul li.view-products a {
  background: url("../images/spritehome.png") no-repeat scroll -131px -174px  transparent;
  display: block;
  height: 34px;
  text-decoration: none;
  width: 32px;
}
.catalog-category-view .products-grid .actions ul li.add-cart a {
  background: url("../images/spritehome.png") no-repeat scroll -177px -174px  transparent;
  display: block;
  float: right;
  height: 42px;
  text-decoration: none;
  width: 52px;
}
.pages li a {
  color: #494956;
  font-family: oswald;
  font-weight: 400;
  font-size: 14px;
}
.pages li.current {
  background: none repeat scroll 0 0  transparent;
  border: medium none;
  color: #FFFFFF;
  font-family: oswald;
  font-size: 14px;
  font-weight: bold;
}
.previous.i-previous {
  background: url("../images/pagination-left-arrow.png") no-repeat scroll 0 0  transparent;
  margin: 10px 0 0 10px;
}
.next.i-next {
  background: url("../images/pagination-right-arrow.png") no-repeat scroll 0 0  transparent;
  height: 20px;
  margin: 10px 0 0 10px;
}
.products-grid .product-name a {
  color: #494956;
  font-family: oswaldlight;
  font-size: 17px;
  float: left;
  height: 50px;
  overflow: hidden;
}
.products-grid .price-box .price {
  color: #F48F6B;
  font-family: oswald;
  font-size: 15px;
  font-weight: 400;
}
 .sort-list li:first-child, .pager-list li:first-child {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.category-products {
  float: left;
}
.catalog-category-view .col-left.sidebar h2, #narrow-by-list dt {
  color: #FFFFFF;
  font-family: oswald;
  font-size: 17px;
  font-weight: 400;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;

}
.block-layered-nav .block-content > dl > dd {
  border-color:none !important;
  border-style:none !important;
}
.col-left.sidebar > ul a {
  color: #494956;
  font-family: oswaldlight;
  font-size: 17px;
  padding: 0 0 0 30px;
}
#narrow-by-list li a{
 color: #494956;
 font-family: oswaldlight;
 font-size: 14px;
 background: url("../images/chk-mark-sprite.png") no-repeat scroll 0 5px  transparent;
 padding: 0 0 7px 26px;
}

#nav .subCat .subCategory span{
 color: #494956;
 font-family: oswaldlight;
 font-size: 14px;
  padding: 0 0 0 10px;
}
#narrow-by-list li a.checked{
 background: url("../images/chk-mark-sprite.png") no-repeat scroll 0 -23px transparent;
 color: #FFFFFF;
 font-family: oswaldlight;
 font-size: 14px;

}
.sort-list li.selected a span, .pager-list li.active {
  color: #FFFFFF !important;
  font-family: oswald;
  font-size: 14px;
  font-weight: bold;
}
.catalog-category-view .block-layered-nav .block-content > dl > dt {
  border-top: 2px solid #FFFFFF !important;
}
#narrow-by-list li span .close {
  background: url("../images/close.png") no-repeat scroll right 1px  transparent;
  display: block;
  padding: 0;
}
.product-listing  .ratings .rating-box .rating{
background: url("../images/sprite-small-stars.png") repeat-x scroll 0 0  transparent !important;
}
.product-listing .ratings .rating-box {
background: url("../images/sprite-small-stars.png") repeat-x scroll 0 -29px transparent !important;
width: 80px;
}
.product-listing .products-grid .product-image:hover .actions .product-rating {
  display: inline-block;
  width: 84px;
}
.toolbar-bottom .sorter {
  display: none;
}
.toolbar-bottom .pager .count-container {
  display: none;
}
.catalog-category-view .col-left.sidebar .block-content {
 padding: 0 !important;
 border: medium none !important;
}
.block .block-content .actions {
  background: url("../images/close.png") no-repeat scroll 121px 16px  transparent;
  border-bottom: 2px solid #FFFFFF;
  border-top: 2px solid #FFFFFF;
  padding: 10px 0 6px 23px;
}
 #narrow-by-list dt {
  margin: 14px 0 0 !important;
  padding: 10px 0 0 34px !important;
}
.catalog-category-view .col-left.sidebar h2{
  display: block;
  margin: 0 !important;
  padding: 10px 0 10px 30px;
}
.product-listing .products-grid .actions ul li {
  float: left;
  list-style: none outside none;
  margin: 0 4px 0 0;
}
#left-nav li.parent {
    position: relative;
	background: url("../images/listing-plus-minus-sprite.png") no-repeat scroll 10px 10px transparent;
}
#left-nav li.parent.active {
    position: relative;
	background: url("../images/listing-plus-minus-sprite.png") no-repeat scroll 10px -57px transparent;
	color:#FFFFFF;
	font-size:14px;
	font-family: oswaldlight;
}
#left-nav li.parent .opener {
    border: 1px solid red;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
#narrow-by-list .m-selected-ln-item {
  position: relative;
}
#narrow-by-list .m-selected-ln-item > span {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.category-products .pager .pages {
  margin-left: 52px;
 
}
/* -----------------------------------------------Media Query -------------------------------------------------------------*/
@media only screen and (min-width:1024px) and (max-width:1245px){  
}
@media only screen and (min-width:768px) and (max-width:1023px){  
.contact-page {
  width: 98%;
  padding: 0 1% 0;
}
.contact-page .tel span {
  padding: 0 0 0 21%;
  color: #FFFFFF !important;
  display: block !important;
}
.contact-page .connect-link {
 margin: 0 0 5% 0;
 padding: 0 !important;
 clear: both;
 }
.contact-details  #contactForm {
 padding: 3% 0 0 0;
}
#contactForm label {
 min-width: 33%;
}
#contactForm .input-box {
 width: 67%;
}
.contact-page .page-title > p {
  padding: 0;
 }
.blog-index-list .postContent img, .blog-post-view .postContent img {
  float: none;
}
.blog-index-list .col2-left-layout .col-main, .blog-post-view .col2-left-layout .col-main {
  padding: 0 1%;
  width: 98%;
}
.blog-index-list .col-left, .blog-post-view .col-left {
  width: 100%;
}
}
  
@media only screen and (min-width:480px) and (max-width:767px){
.contact-page {
  padding: 0 1%;
  width: 98%;
}
.contact-page .remade-logo {
  margin: 0 0 10%;
  width: 100%;
 }
.contact-page .tel span {
  padding: 0 0 0 13%;
}
.contact-details .remade-ques {
  float: left;
  width: 100%;
}
.contact-page .contact-details #contactForm {
 width: 100%;
}
#contactForm label {
  min-width: 34%;
}
#contactForm .input-box {
 width: 66%;
}
.contact-page .tel-mail {
  margin: 0;
  padding: 0;
  width: 100%;
}
.contacts-index-index .buttons-set p.required {
float: left;
}
.join-page, .join-page .join-us, .join-page .signup-page {
 width: 98%;
}
.join-page .join-image, .signup-page .sign-image {
 width: 100%;
}
.join-page .join-account, .signup-page .sign-desc {
  padding:0;
}
.join-page .how-to-join {
  margin: 9% 1% 0 0;
  width: 98%;
  text-align: left;
}
.signup-page .signup-img {
  clear: both;
  padding: 8% 0 0;
  width: 85%;
}
.contact-page .page-title > p {
  padding: 0;
  }
 .what-is-upcycling, .what-can-be-upcycled, .the-modern-upcycler {
  width: 98%;
}
.what-is-upcycling .upcycling-image, .what-can-be-upcycled .upcycled-img, .the-modern-upcycler .modern-image {
  width: 100%;
}
.become-remade-retailer, .can-sell, .why-join-rmib, .how-work {
   padding: 0 1% ;
   width: 98%;
}
.become-remade-retailer .retailer-image {
 width: 70%;
}
.delivery-details-image {
  width: 70%;
}
.blog-index-list .postContent img, .blog-post-view .postContent img {
  float: none;
}
.blog-index-list .col2-left-layout .col-main, .blog-post-view  .col2-left-layout .col-main {
  padding: 0 1%;
  width: 98%;
}
.blog-index-list .col-left, .blog-post-view .col-left {
  width: 100%;
}
}

 @media only screen and (min-width:320px) and (max-width:479px){  
 .contact-page {
  width: 98%;
  padding: 0 1% 0;
}
.contact-page .tel-mail {
  padding: 8% 0 0;
  width: 100%;
  margin-left:0;
}
.contact-page .connect-link {
  width: 100%;
}
.contact-page .tel span {
  padding: 0 0 0 20%;
}
.contact-page .tel-mail {
 float:left;
}
#contactForm label {
 min-width: 50%;
}
#contactForm .input-box {
 width: 50%;
}
#contactForm #comment {
  width: 151px;
}
.contact-page .remade-logo {
  width: 100%;
}
 .contact-details .remade-ques {
  width: 100%;
}
.contact-page .contact-details #contactForm {
  width: 100%;
  padding: 0;
}
#contactForm select {
  width: 151px;
}
.contact-page .buttons-set .required {
  display: block;
}
.contact-page .buttons-set .button {
  clear: both;
}
.contact-page .contact-details {
  float: left;
  margin: 5% 0 0 2% !important;
}
.join-page {
  width: 98%;
  padding: 0 1% 0 0;
}
.join-page .join-us {
  width: 100% ;
  background: none repeat scroll 0 0 transparent;
}
.join-page .how-to-join {
  margin: 9% 1% 0 0;
  width: 98%;
}
.signup-page .sign-logo {
  width: 58%;
}
.join-page .join-us .join-logo {
  width: 64%;
}
.join-page .join-account {
  padding: 0;
}
.signup-page  .signup-img {
  clear: both;
  width: 85%;
  padding: 8% 0 0;
}
.signup-page .remade-sign p, .signup-page .signup p  {
  font-size: 18.12px;
 }
.join-page .join-account p, .join-page .sign-desc p, .signup-page .sign-list a {
    font-size: 14px;
    margin: 10px 0 0;
 }
 .join-page .join-image {
  width: 100%;
}
.join-page .signup-page {
 width: 100%;
}
.signup-page .sign-image {
  width: 100%;
 }
.sign-list {
  padding: 2% 0 0 4%;
}
.signup-page .signup {
   width: 100%;
}
.signup-page .remade-sign {
  margin: 0 1% !important;
  width: 98%;
}
.become-remade-retailer, .can-sell, .why-join-rmib, .how-work {
   padding: 0 1% ;
   width: 98%;
}
.become-remade-retailer .retailer-image {
  width: 100% ;
  padding: 0 0 0 5px ;
}
.std .become-remade-retailer p, .can-sell .description, .why-join-rmib p, .how-work p {
  font-size: 13px ;
 } 
 .can-sell .can-sell-image {
  width: 80% ;
}
.goods-img li {
  float: none ;
  width: 75% ;
}
.why-join-rmib .rmib-image, .how-work .work-image {
  width: 75% ;
}
.work-gallery li {
  float: none ;
  width: 100% ;
}
.signup-page .sign-image {
 padding: 5.5% 0 5px 6px;
 }
.work-gallery li {
  margin: 7% 0 24% ;
  text-align: center;
}
.cms-become-a-remade-retailer .std h1 {
  color: #FFFFFF;
  font-family: oswald;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 ;
}
.become-remade-retailer {
  background: none ;
 }
.std .go-back h1 {
    display: block ;
}
.can-sell .description {
padding: 3% 2% 7% ;
}
.signup-page .sign-desc {
  padding:0;
}
.what-is-upcycling, .what-can-be-upcycled, .the-modern-upcycler {
   width: 98% ;
 }
.what-is-upcycling .upcycling-image, .what-can-be-upcycled .upcycled-img, .the-modern-upcycler .modern-image{
  width: 100% ;
}
.what-is-upcycling .upcyling-logo, .what-is-upcycling .upcycling, .what-can-be-upcycled .upcycled-logo, .what-can-be-upcycled .almost-anything, .the-modern-upcycler .modern-logo, .the-modern-upcycler .remade-modern{
  width: 84% ;
}
.what-is-upcycling .upcycling-desc p, .what-can-be-upcycled .upcycled-img p, .the-modern-upcycler .modern-image p, .std .about-us p, .std .promotions-events p, .remade-courses  p, .delivery-details p {
 font-size: 14px ;
 }
 .upcycled-objects .obj1, .obj2, .obj3, .obj4 {
  float: left;
  margin: 0 auto;
  padding: 4px;
  width: 50% ;
}
.the-modern-upcycler .remade-modern p {
 font-size: 16.12px ;
 }
 .info {
  color: #494956 ;
}
.remade-modern-logo {
  margin-bottom: 25px ;
}
.what-is-upcycling {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.delivery-details-image{
 width: 70%;
}
.blog-index-list .postDetails, .comment, .posted-tag, .blog-post-view .postDetails, .comment, .posted-tag {
 font-size: 11px;
 padding: 0 0 0 7px;
}
.blog-index-list .postContent img, .blog-post-view .postContent img {
 float:none;
} 
.blog-index-list .blog-desc,.blog-index-list .aw-blog-read-more, .blog-post-view .blog-desc,.blog-index-list .aw-blog-read-more, .blog-post-view .required{
 font-size: 11px;
}
.blog-index-list .postTitle a, .blog-post-view .postTitle a  {
  padding: 0 0 0 10px;
 }
 .blog-index-list .col2-left-layout .col-main, .blog-post-view .col2-left-layout .col-main {
  padding: 0 1%;
  width: 98%;
}
.blog-index-list .blog-desc, .blog-post-view .blog-desc  {
 font-size: 11px;
 padding: 13px 0 13px 7px;
}
.blog-post-view .required-entry {
  width: 87% !important;
}
.blog-index-list .col-left, .blog-post-view .col-left {
  width: 100%;
}
.contact-page .connect-link ul li.Pinterest {
  background: url("../images/contactsprite.png") no-repeat scroll 0 -209px rgba(0, 0, 0, 0);
  height: 40px;
  margin: 11px 0 0;
}

}


@media only screen and (min-width:200px) and (max-width:319px){  
.join-page , .join-page .join-us {
  width: 98%;
 }
.join-page .join-image, .signup-page .signup {
 width: 100%;
}
.join-page .join-account p, .join-page .sign-desc p {
  font-size: 13px;
  margin: 10px 0 0;
 }
.join-page .how-to-join {
  margin: 0 1% 0 0;
  width: 98%;
}
.signup-page .sign-image {
  margin: 5.5% 0 0 2%;
  width: 100%;
}
.signup-img {
  clear: both;
  width: 85%;
}
.signup-page .sign-desc {
   width: 94%;
   padding: 0;
}
.signup-page .sign-list a {
  font-size: 13px;
 }
.signup-page .remade-sign p {
 font-size: 10.12px;
 }
 .join-page .signup-page {
   width: 98%;
}
.signup-page .signup p {
  font-size: 18.12px;
}

.cms-terms-and-conditions .page-title h1, .cms-privacy-policy .page-title h1{
  background: url("../images/spritestrip.png") repeat-x scroll 0 -24px transparent;
  height: 21px;
  padding: 11% 0 0 1% !important;
}
.become-remade-retailer, .can-sell, .why-join-rmib, .how-work {
   width: 98% ;
}
/*.become-remade-retailer .retailer-image, .can-sell .can-sell-image, .why-join-rmib .rmib-image, .how-work .work-image {
 width: 100% !important;
}*/
.std .become-remade-retailer p, .can-sell .description, .why-join-rmib p, .how-work p{
 font-size: 13px ;
 }
 .can-sell .goods-img {
  float: none !important;
}
.what-is-upcycling, .what-can-be-upcycled, .the-modern-upcycler {
 width: 98%;
}
.what-is-upcycling .upcycling-image, .what-can-be-upcycled .upcycled-img, .the-modern-upcycler .modern-image {
 width: 100%;
}
.what-is-upcycling .upcycling-desc p, .what-can-be-upcycled .upcycled-img p, .the-modern-upcycler .modern-image p, .std .about-us p, .promotions-events p, .materials-marketplace p,.remade-courses  p, .delivery-details p{
 font-size: 14px;
 }
 .what-is-upcycling .upcycling, .what-can-be-upcycled .almost-anything, .the-modern-upcycler .remade-modern {
  margin: 3% 0 0 10%;
}
.what-can-be-upcycled .upcycled-objects {
 margin: 5% 0 0;
}
.about-us-image{
  width: 100%;
}
.blog-index-list .postContent img, .blog-post-view .postContent img {
 float:none;
 }
.blog-index-list .blog-desc, .blog-post-view .blog-desc {
 font-size: 11px;
 padding: 13px 0 13px 7px;
}
.blog-index-list .postTitle a,.blog-post-view .postTitle a {
  padding: 0 0 0 10px;
}
.blog-index-list .col2-left-layout .col-main, .blog-post-view .col2-left-layout .col-main {
  padding: 0 1%;
  width: 98%;
}
.blog-index-list .blog-desc,.blog-index-list .aw-blog-read-more, .blog-post-view .blog-desc,.blog-index-list .aw-blog-read-more  {
 font-size: 11px;
}
.blog-index-list .postDetails, .comment, .posted-tag, .blog-post-view .postDetails, .comment, .posted-tag  {
 font-size: 11px;
 padding: 0 0 0 7px; 
 }
 .contact-page {
 padding: 0 1%;
  width: 98%;
}
.contact-page .remade-logo, #contactForm .input-box {
  float:none;
}
.contact-page .tel span {
 padding-left: 19%;
}
.contact-details .remade-ques {
 width: 100%;
}
#contactForm .input-box1 {
 float:none;
  width: 64%;
}
.contact-page .tel-mail {
  padding: 8% 0 0;
  width: 100%;
  margin-left:0;
}
.contact-page .buttons-set .required {
  display: block;
}
.contact-page .contact-details #contactForm {
 width: 100%;
}
.blog-index-list .col-left, .blog-post-view .col-left {
  width: 100%;
}
.col2-left-layout .col-main {
  float: none;
  margin: 0 !important;
  padding: 0 1%;
  width: 98% !important;
}
.catalog-category-view .category-title-description {
  padding: 0 1%;
}
.catalog-category-view .col-left {
 float:none !important;
}
.category-products .toolbar {
 padding: 0;
 background:none;
}
.category-products .toolbar .sorter .sorter {
float:none;
}
.sorter > .sort-by {
  float:none;
 }
 .category-products .sort-list {
   float:none;
}
.sort-list li, .pager-list li {
 padding: 2px 0 0 6px !important;
}
.limiter label {
  display:block;
}
.category-products .pager {
  margin: 0;
}
.category-products .pager-list li {
  padding: 2px 10px 0 3px !important;
}
.latest-products .itemslider-similar-main .products-grid > li {
  float:none;
  width:100%;
}
.latest-products .itemslider-similar-main .products-grid > li .productbg {
 margin-top:13%;
}
.product-listing .products-grid .actions ul li {
   margin: 0 3px 0 0;
}
}

@media only screen and (min-width:240px) and (max-width:768px){ 
.blog-post-view .block-title.account, .blog-index-list .block-title.account {
  background: url("../images/spritehome.png") no-repeat scroll -337px -754px #FFFFFF;
  padding: 6px 13px;
}
.blog-index-list .collapsible.active .block-title, .blog-post-view  .collapsible.active .block-title {
  background: url("../images/spritehome.png") no-repeat scroll -337px -794px #FFFFFF;
  padding: 6px 13px;
}
}