.checkout-onepage-index .page-title h1,
.account-login .page-title h1  {
   border-bottom:none;
   text-transform: uppercase;
   font-size: 27px;
   margin-bottom: 20px;
   color: #FFFFFF;
   font-family: oswald;
   font-weight: 400;
   }
.opc.opc-firststep-login {
   padding: 0 0 30px;
   }
.opc .section.active .step-title {
   border: 1px solid #727A5E !important;
   background:#fff;
   }
.opc .section .step-title {
   background: url("../images/spritestrip.png") repeat-x scroll 0 -43px transparent;
   border-top: none;
   position: static;
   padding: 2px 0;
   }
.opc .section .step-title .number{
  background-color: #494956 !important;
  display: block;
  float: left;
  font-family: oswald;
  font-weight: 400;
  height: 26px !important;
  line-height: 26px !important;
  margin: 6px 12px !important;
  position: static !important;
  width: 26px !important;
  }
.opc.opc-firststep-login #opc-login.section .step-title h2 {
  float: left;
  height: 38px;
  line-height: 38px;
  font-family: oswald;
  }
.checkout-onepage-index #checkoutSteps {
  margin:0 0 20px 0;
  }
.checkout-onepage-index .col2-set .col-1, .checkout-onepage-index .col2-set .col-2,
.customer-account-login .col2-set .col-1, .customer-account-login .col2-set .col-2{
  padding:15px 30px;
  width: 49%;
  }
.checkout-onepage-index .col2-set .col-1 {
  float: right;
  padding-left: 0;
  }
.checkout-onepage-index  .col2-set .col-2 {
   float: left;
   padding-right: 0;
   }
.opc .section.allow .step-title:hover h2, .opc .section.active .step-title h2 {
   color: #494956;
   }
.opc .section .step-title h2 {
   color: #494956;
   float: left;
   font-family: Oswald;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   height: 38px;
   line-height: 38px;
   margin:2px 4px 0 0;;
   }
.checkout-onepage-index .opc h3,
.new-users .content h2,
.registered-users h2 {
   color: #FFFFFF;
   font-family: oswald;
   font-size: 20px;
   font-weight: 500;
   text-transform: capitalize;
   padding: 5px 0 20px;
   background:url("../images/spritestrip.png") repeat-x scroll 0 43px transparent;
   }
 .checkout-onepage-index .opc #checkout-step-login h3 {
   text-transform:none;
  }

.checkout-onepage-index #checkout-step-login .fieldset {
    width: 290px;
  }
 .checkout-onepage-index .buttons-set {
   margin: 0 0 40px;
  }
.checkout-onepage-index .password-buttons-set {
  float: left;
  width: 100%;
  clear: none;
  margin: 0 0 40px;
  }
.checkout-onepage-index .password-reguired {
  float: left;
  width: 36%;
  }
.password-reguired p.required {
   color: #6C6E6E;
   float:left;
   margin: 5px 0;
   }
.checkout-onepage-index .password-reguired a {
   color: #494956;
   float: left;
   width: 140px;
   }
.checkout-onepage-index .password-buttons-set .buttons-set{
  clear:none;
   margin: 5px 0 0;
  }
.fieldset p.description {
  color: #494956 !important;
  font-family: Oswald !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 400;
  margin-bottom: 12px;
  }
.checkout-onepage-index .form-list .required {
    color: #494956;
	color: #494956;
    font-family: oswald;
    font-size: 16px;
    font-weight: 300;
	margin: 0 0 5px;
    }
.checkout-onepage-index .form-list label.required:after, .checkout-onepage-index .form-list span.required:after {
    color:#494956;
    content: " *";
    font-family: Oswald,Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
   }
.account-create .scaffold-form .form-list li label.required:after,
.marketplace-seller-create #form-validate li label.required:after {
    color:#fff;
   }
#checkout-step-login .col2-set .col-2 .buttons-set {
   float: left;
   width: 50%;
   } 
#checkoutSteps #checkout-step-login  .form-list .control label, 
#checkoutSteps #checkout-step-billing  .form-list .control label,
#checkoutSteps #checkout-step-shipping_method  .sp-methods dd label,
#checkoutSteps #checkout-step-payment  .sp-methods dt label,
#co-shipping-form li label,
.account-create .fieldset .form-list .control label{
  background:none;
  color: #494956;
  font-family: Oswald;
  font-size: 13px;
  padding: 3px 10px 3px 40px;
   }
.opc #opc-login .buttons-set {
   border-top: 0 none;
   padding-top: 0;
   }
#checkoutSteps .buttons-set #onepage-guest-register-button {
  margin: 0 0 0 140px;
  }
#opc-review.section {
  background: url("../images/spritestrip.png") repeat-x scroll 0 41px transparent;
   }
#opc-review.section.allow.active {
   background: none !important;
   }
.data-table thead th, 
.data-table tbody td {
   color: #FFFFFF;
   font-family: oswaldlight;
   font-size: 13px;
   /*border: 1px solid #FFFFFF !important;*/
   }
.data-table tfoot tr {
   background:none;
  }
.data-table tbody .status em {
    font-style: normal;
   }
.checkout-onepage-index .opc #checkout-review-table-wrapper h3,
.checkout-onepage-index .opc #onepage-checkout-shipping-method-additional-load .gift-messages h3 {
    background: none;
    font-weight: 500;
    padding: 0;
    text-transform: capitalize;
   }
.checkout-onepage-index #checkout-review-table-wrapper tr td .product-name {
    font-size: 12px !important;
  }
.checkout-onepage-index #checkout-review-table-wrapper tfoot tr.first {
  font-size: 16px !important;
  font-weight: 500;
  font-family: oswald;
  color: #333333;
  }
.checkout-onepage-index #checkout-review-table-wrapper tfoot tr.last {
  font-size: 22px;
  font-weight: 700;
  font-family: oswald;
  color: #333333;
  }
.checkout-onepage-index #checkout-review-table-wrapper tfoot tr td {
    float: left;
    font-family: oswald;
    text-align: left;
    text-transform: capitalize;
	}
.sp-methods dd li {
    margin: 5px 0;
    text-align: left;
    color: #333333;
    font-family: oswald;
    }
.checkout-onepage-index #checkout-review-table-wrapper #co-shipping-method-form .sp-methods dd label {
   background: none;
   color: #333333;
   font-family: oswald;
   font-weight: 500;
   padding: 0 3px;
   }
#checkout-progress-wrapper .block-progress {
  padding-left: 20px;
  margin: 48px 0 0;
  border:none;
  }
#checkout-progress-wrapper .block-progress .block-title strong {
  background: url("../images/spritestrip.png") repeat-x scroll 0 40px transparent;
  color: #fff;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 15px;
  text-transform: capitalize;
  }
#checkout-progress-wrapper .block-progress .block-title strong span {
  margin:0 0 5px 0;
  }
#checkout-progress-wrapper .block-progress dt {
  color: #fff;
  font-family: Oswald;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 6px;
  padding: 8px 0 0 30px;
  text-transform: capitalize;
  background: url("../images/checkout-right-img.png") no-repeat scroll 0 bottom transparent;
  }
#checkout-progress-wrapper .block-progress .block-content {
  margin: 25px 0;
  }
.opc .section.allow .step-title h2 {
  color: #494956;
  font-weight: 400;
  }
.checkout-onepage-index .section a {
  color: #494956;
  }
.opc .section .step {
  padding: 10px 0;
  }
.opc-block-progress dt a, .opc-block-progress dt .separator {
   color: #494956;
  }
#allow-gift-message-container .inner-box .product-img-box .product-image {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #8a9374;
  box-shadow: 0 0 5px #838383;
  float: left;
  margin-bottom: 15px;
  width: 100%;
  }
#checkout-review-table-wrapper .data-table tbody td .item-options dd {
  color: #333333;
  }
/*.customer-account-index .col-left,
.customer-account-edit .col-left,
.customer-address-index .col-left,
.sales-order-history .col-left,
.sales-billing-agreement-index .col-left*/
.col-left {
   clear: left;
   float: left;
   padding: 0 0 0 15px;
   width: 30%;
   }
/*.customer-account-index .col2-left-layout .col-main, 
.customer-account-edit .col2-left-layout .col-main, 
.customer-address-index .col2-left-layout .col-main, 
.sales-order-history .col2-left-layout .col-main,
.sales-billing-agreement-index .col2-left-layout .col-main*/
 .col-main {
   float: right;
   padding-right: 25px;
   width: 65%;
   }
.customer-account-index .col2-left-layout .sidebar .block-account .block-title {
  margin: 55px 0 15px;
  }
.col2-left-layout .sidebar .block-account .block-title strong {
  color: #FFFFFF;
  font-family: oswald;
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
  }
.col2-left-layout .sidebar .block-account .block-content li {
  font-family: oswaldlight;
  padding:2px 0 2px 10px;
  background:#494956;
  margin: 7px 0;
  text-transform: capitalize;
  font-size: 18px;
  }
.col2-left-layout .sidebar .block-account .collapsible .block-content li a{
  font-family: oswaldlight;
  font-size: 18px;
  }
.col2-left-layout .block-account li a {
   color: #fff; 
   }
.col2-left-layout .sidebar .block-account .block-content li.current,
.col2-left-layout .sidebar .block-account .block-content li.active{
   background:#fff;
   }
.col2-left-layout .sidebar .block-account li strong,
.col2-left-layout .sidebar .block-account li.active a {
   color: #494956;
   font-family: oswald;
   font-weight: 500;
   }
.dashboard .page-title {
	float:left;
	width: 50%;
   }
.my-account .page-title h1 { float:none;}
.dashboard .page-title h1, 
.my-account .page-title h1, 
.marketplace-seller-customerreview .my-account h2{
  color: #FFFFFF;
  font-family: Oswald;
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 0 10px;
  }
.dashboard .welcome-msg {
   float:left;
   padding: 0 0 10px;
   }
.dashboard .welcome-msg p {
   color: #FFFFFF;
   font-family: oswald;
   font-size: 18px;
   font-weight: 300;
   margin-bottom: 15px;
   padding-bottom: 3px;
   }
.dashboard  .hello {
   clear: left;
   color: #494956; 
   background:#fff;
   margin: 15px 0;
   padding: 5px 15px;
   font-family: oswald;
   font-size: 16px;
   font-weight: 300;
   }
.dashboard > p {
   color: #fff;
   font-family: oswaldlight;
   font-size: 16px;
   padding: 15px 15px 2px;
   width: 80%;
   }
.dashboard .box-head {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: none;
    margin:25px 0 10px;
    padding: 5px 15px;
   }
.dashboard .box-head h2,
.my-account .addresses-list h2{
   display: inline-block;
   font-family: oswaldlight;
   font-size: 16px;
   color: #494956;
   font-weight: 300;
   margin-bottom: 0;
   text-transform: capitalize;
   padding: 0 5px 0 0;
   }
.dashboard .box-recent .box-head a {
    font-family: oswaldlight;
    font-size: 16px;
    text-transform: capitalize;
	color:#D36B53;
	padding: 0 0 0 10px;
   }
.dashboard .box-account {
   border-bottom:none;
   margin-bottom: 45px;
   padding-bottom: 0;
   }
.dashboard .box-recent .orders {
   margin:15px 10px 0 15px;
   width: 80%;
   }
.dashboard .box-recent .orders th , .dashboard .box-recent .orders td,
.my-account .data-table.orders th, .my-account .data-table.orders td  {
  border: 2px solid #FFFFFF !important;
   }
#co-shipping-form .wide > label {
    padding: 0 0 0 5px !important;
  }
.dashboard .col2-set .col-1, .dashboard .col2-set .col-2 {
  padding-right: 9.097%;
  padding-top: 10px;
 }
.dashboard .col2-set {
    margin: 0 10px 0 15px;
    width: 80%;
   }
.dashboard .col2-set .col-1 .box-title h3, .dashboard .col2-set .col-2 .box-title h3,
.my-account .addresses-primary h3{
  color: #FFFFFF;
  font-family:oswaldlight;
  font-size: 16px;
  text-transform: capitalize;
  display:inline-block;
  font-weight: 300;
  }
.dashboard .col2-set .col-1 .box-title a, 
.dashboard .col2-set .col-2 .box-title a {
   line-height: 0;
   padding: 0;
   position:static;
   right: 0;
   top: 0;
   }
.dashboard .box-head a {
   color: #494956;
   font-family: oswaldlight;
   font-size: 16px;
   text-transform: capitalize;
   padding: 0 0 0 10px;
   background: url("../images/seperator1.png") no-repeat scroll 0 6px transparent;
   }
.dashboard .box-title a {
   color: #494956;
   font-family: oswald;
   font-size: 16px;
   font-weight: 300;
   text-transform: capitalize;
   margin: 0 0 0 3px;
   padding: 0 0 0 7px !important;
   background: url("../images/seperator2.png") no-repeat scroll 0 6px transparent;
   }
.dashboard .box-account p, .dashboard .box-account address {
  color: #FFFFFF;
  font-family: oswaldlight;
  font-size: 16px;
  font-style: normal;
  }
form .legend {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  text-transform: capitalize;
  border-bottom:none;
  }
.customer-address-index .my-account .page-title.title-buttons button {
   margin:10px 0;
  }
.my-account .form-list .control label {
   background: none;
  }
a {
  color: #494956;
  text-decoration: none;
  }
body.newsletter-manage-index .my-account .form-list {
  border-top: none;
  padding-top: 10px;
  }
/*=======Market Place Modules========== */

.marketplace-seller-dashboard .col-main .my-account{
   margin:0 30px 0 0;
   }
.my-account #buyer-seller .input-box {
    padding-top: 15px;
  }
.my-account #buyer-seller button {
    margin: 15px 0 0;
  }
.marketplace-seller-dashboard .my-account .page-title .manage_products_head {
  float: left;
  width: 50%;
  margin: 5px 0 25px;
  }
#market_place_manage_products_order .top_amount, .mp_top_amount, #market_place_manage_products .top_amount, #mp_order_transaction .top_amount {
   color: #FFFFFF;
   font-family: oswald;
   font-size: 18px;
   font-weight: 300;
   float: left;
   padding: 0; 
  }
.lifetime-average {
    clear: left;
   }
.mp_dashboard_lifetime {
    float: left;
    height: 116px;
    margin: 0 0 25px;
    width: 50%;
	margin:0;
   }
.mp_dashboard_average {
    float: right;
    height: 116px;
    width: 50%;
	margin: 0 0 25px;
	}
.marketplace-seller-dashboard .page-title {
    clear: both;
    padding: 25px 0 0;
    }
.marketplace-seller-dashboard .page-title h3 {
    font-size: 15px;
    font-weight: bold;
    padding:8px 0 8px 15px;
	color: #494956;
    display: inline-block;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
	background:#fff;
	width:100%;
	margin: 0;
	line-height: 16px;
   }
#market_place_manage_products_order .pager {
   margin: 10px 0;
   }
.mp_dashboard_container {
    border: medium none;
    margin: 15px 0 0 15px;
    width: 80%;
   }
.mp_seller_sales_report input[type="text"] {
    max-width: 100%;
    width: 150px;
  }
.my-account #chart_div {
    margin: 0 15px !important;
   }
.mp_seller_sales_report {
   background: none repeat scroll 0 0 #FFFFFF;
   margin: 15px 15px 0;
   width: 700px;
   }
#market_place_manage_products .mp_action select, #select_filter, .mp_sellers_order select, #my-orders-table select {
    font-family: arial;
    font-size: 11px;
    margin: 5px 0 0 5px;
    padding: 3px;
   }
.my-account .mp_seller_sales_report .txtbox {
    border: 1px solid #B6B6B6;
    font-family: arial;
    font-size: 11px;
    height: 24px;
    margin: 5px 0 0;
    padding: 2px 10px;
    }
.mp_seller_sales_report button {
    margin: 6px 0 0;
	padding: 4px 40px;
   }
.my-account #market_place_manage_products .page-title h1,
.my-account #market_place_manage_products_order .page-title h1,
 #mp_order_transaction h1 {
    border: 0 none;
    float: none;
   }
.mp_dashboard_average h3,
.mp_dashboard_lifetime h3 {
  font-family: oswald;
  text-transform: capitalize;
  }
.mp_dashboard_lifetime p, 
.mp_dashboard_average p {
  color: #fff;
  font-family: oswald;
  font-size: 25px;
  font-weight: 700;
  }
#market_place_manage_products > form {
  padding: 20px 0 0;
  clear: both;
  }
#addprofile .form-list li {
  background:none;
  }
#addprofile .form-list label {
   padding-bottom: 4px;
   width: 100%;
  }
#market_place_manage_products_order table tbody tr:last-child td {
  border-bottom:1px solid #fff;
  }
#market_place_manage_products table thead .mp_filter_function th, #market_place_manage_products_order table thead .mp_filter_function th {
  background:none;
  }
#market_place_manage_products table tbody tr {
  background:none;
  }
.mp_dashboard_container.data-table thead th, .mp_dashboard_container.data-table tbody td {
  border: 1px solid #fff;
 }
#market_place_manage_products_order .top_amount, .mp_top_amount, #market_place_manage_products .top_amount, #mp_order_transaction .top_amount {
   padding:0 0 15px 0;
  }
.wide.fields label, .fields .field_store_logos label {
   color: #494956;
   font-family: oswald;
   font-size: 16px;
   font-weight: 300;
   }
.buttons-set p.required {
   float:left;
  } 
.gift-messages > h3 {
   font-size: 14px !important;
  }
.gift-messages #allow-gift-message-container h4 {}
body, label, button, input, select, table, textarea {
    color: #636363;
    font-family: "Oswald",Arial,sans-serif;
    line-height: 1.5;
	font-size: 14px;
    font-weight: 300;
   }
.col1-layout .col-main {
    padding: 0;
    width: 100%;
  }
/*=======Category page========== */  
.catalog-category-view .col-left.sidebar .block-cate-content {
   border-bottom:2px solid #e8eae4;;
   margin: 0 0 30px;
   padding: 0 0 15px 35px;
   }
.catalog-category-view .col-left.sidebar .block-cate-content .block-title {
   border-top: medium none;
   margin-bottom: 5px;
   padding: 20px 0 0;
   }
.catalog-category-view .col-left.sidebar .block-cate-content .block-title h2 {
   color: #fff;
   font-family: oswald;
   font-size: 17px;
   font-weight: 500;
   }
.catalog-category-view .col-left.sidebar .block-cate-content a {
   color: #494956;
   display: block;
   font-family: oswaldlight;
   font-size: 17px;
   padding: 2px 0;
   }
.col-left.sidebar .social-media {
   background:#fff;
   float: left;
   margin: 15px 0;
   padding: 20px;
   width: 100%;
   }
.col-left.sidebar .social-media h1 {
   color: #494956;
   font-size: 23px;
   text-transform: capitalize;
   }
.col-left.sidebar .social-media .media li  {
   float:left;
   margin:0 6px 0 0;
   }
.col-left.sidebar .social-media .media li a {
   display: block;
   height: 26px;
   text-decoration: none;
   width: 26px;
   }
.col-left.sidebar .social-media .media li.twitter a {
   background:url("../images/spritehome.png") no-repeat scroll -85px -102px transparent;
   }
.col-left.sidebar .social-media .media li.facebook a {
   background:url("../images/spritehome.png") no-repeat scroll -114px -102px transparent;
   }
.col-left.sidebar .social-media .media li.pinterest a {
   background:url("../images/spritehome.png") no-repeat scroll -145px -102px transparent;
   }
.col-left.sidebar .social-media .media li.instagram a {
   background: url("../images/spritehome.png") no-repeat scroll -175px -102px transparent;
   }
 /*.customer-account-edit .col2-left-layout .col-main {
   float: left;
   margin-left: 3.2%;
   width: 71%;
   }*/
.category-content {
   background: url("../images/categorybg.png") repeat scroll 0 0 transparent;
   height:226px;
   margin: 5px 0 0;
   width: 100%;
   }
.category-content .title-description h1 {
  color: #d36b53;
  font-family: oswaldlight;
  font-size: 28px;
  margin: 0;
  padding: 3%;
  }
.title-description .std {
  color: #494956;
  font-family: oswaldlight;
  font-size: 16px;
  padding: 0 30px;
  }
.title-description .std > span {
  display: block;
  padding: 3% 0;
  }
.title-description .std > span a {
  color: #5DC1C0;
  margin: 0 0 0 5px;
  text-decoration: underline;
  }
.alphabetical-order {
  background: url("../images/categorywhitestrip.png") repeat-x scroll left 7px transparent;
  margin: 20px 0;
  width: 100%;
  }
.alphabetical-order h4 {
  background: url("../images/green-cup-strip.png") repeat-x scroll 0 6px transparent;
  color: #ffffff;
  font-family: oswald;
  font-size: 17px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  width: 328px;
  line-height: 17px;
  }
.alphabetical-order h4 .in-order  {
  font-family: oswaldlight;
  margin: 0 0 0 6px;
  text-transform: lowercase;
  font-weight: 300;
  }
.subs-category-list .catagory-grid li {
  float: left;
  margin: 0 2% 2% 0;
  width: 32%;
  }
.subs-category-list .catagory-grid li.last {
  margin-right:0; 
  }
.subs-category-list .catagory-grid .category-image {
  border: none;
  padding: 0;
  margin:0;
  }
.subs-category-list .catagory-grid .category-image img {
  max-width: auto;
  width: auto;
  }
.subs-category-list .catagory-grid .category-bg{
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #8b9475;
  padding: 2%;
  }
.subs-category-list .catagory-grid .category-bg .catagory-view .category-name {
  color: #494956;
  font-family: oswaldlight;
  font-size: 17px;
  margin: 10px 0 10px 5px;
  width: 215px;
 }
.subs-category-list .catagory-grid .category-bg .view {
    color: #f48f6b;
    font-family: oswaldlight;
	text-transform: uppercase;
    font-size: 17px;
    position: absolute;
    right: 10px;
    top: 10px;
   }
.subs-category-list .catagory-grid .category-bg .catagory-view {
	position: relative;
	height: 50px;
    }
.subs-category-list .catagory-grid .category-bg .category-name > a {
    display: block;
    line-height: 23px;
   }
.page-title h1  {
   border-bottom:none;
   text-transform: uppercase;
   font-size: 27px;
   margin-bottom: 20px;
   color: #FFFFFF;
   font-family: oswald;
   font-weight: 300;
  }

/*=======Shopping Cart========== */
.cart.display-single-price {
   margin: 0 15px;
   }
.cart .page-title {
   border-bottom:none;
   margin-bottom: 0;
   }
 .cart .page-title h1 {
   margin: 0;
   font-family:Oswald;
   font-size:27px;
   color:#fff;
   font-weight:400;
   }
.cart-table {
   float: left;
   width: 100%;
   }
.checkout-cart-index .cart-table.data-table thead th {
   color: #494956;
   font-family: oswald;
   font-size: 12px;
   font-weight: 400;
   border: medium none !important;
   }
.checkout-cart-index .cart-table.data-table tbody {
   border:1px solid #90987d;
   background:#fff;
  }
.checkout-cart-index .cart-table.data-table tbody tr.odd,
.checkout-cart-index .cart-table.data-table tbody tr.even{
  border-bottom: 1px solid #eeeeee;
  }
.checkout-cart-index .cart-table.data-table tbody tr.last { 
  border-bottom: none;
  }
.checkout-cart-index .cart-table.data-table tbody td {
  border-left: 1px solid #eeeeee;
  padding: 10px 20px 5px 15px;
  }
.checkout-cart-index .cart-table.data-table .product-cart-info {
  width: 450px;
  }
.cart-table h2 {
  color: #494956;
  font-family: oswald;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
  }
.cart-table h2.product-name a {
   color: #494956;
  }
.checkout-cart-index .cart-table.data-table tbody td.product-cart-image {
  border-left:none;
  }
.product-cart-image .product-image {
  text-align:center;
  border: 0 none;
  }
.cart-table .product-cart-image .product-image img {
  padding: 5px;
  text-align: center;
  width: auto;
  }
.data-table tbody td .item-options {
  color: #333333;
  font-family: Arial;
  font-size: 12px;
  margin:0 0 10px 0;
  }
.item-options dt {
  background: url("../images/spritehome.png") no-repeat scroll -302px -266px transparent;
  font-style: normal;
  padding: 0 2px 0 15px;
  }
.item-options dd {
   float: left;
   margin: 0 0 6px;
   padding-left: 2px;
   color:#808080;
   }
.cart-table .edit-del a {
  color: #d36b53;
  font-family: Arial;
  font-size: 12px;
  }
.cart-table .product-cart-actions .qty { 
  color: #333333;
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  width: 4em;
  }
.cart-footer-actions .button2,
.discount-form .button-wrapper .button2{
  color: #ffffff;
  display: inline-block;
  font-family: osawald;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  padding: 3px 20px;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
  }

#shopping-cart-table tfoot td.cart-footer-actions {
  padding: 14px 0 10px;
  }
.cart-footer-actions .button2.btn-continue {
  float:left;
  background: none repeat scroll 0 0 #E87E62;
  border: 1px solid #d16235;
  }
.cart-footer-actions .button2.btn-empty {
  float: none;
  background: none repeat scroll 0 0 #75757C;
  border: 1px solid #000;
  margin:0 5px 0 0;
  }
.cart-footer-actions .button2.btn-update {
  float: right;
  background: none repeat scroll 0 0 #75757C;
  border: 1px solid #000;
  margin:0 0 0 5px;
  }
.cart-footer-actions .button2.btn-continue:hover {
   background: #d36b53;
  }
.checkout-cart-index .button2 span,  .checkout-cart-index .button2 span span {
  font-family: oswald;
  font-size:13px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  }
#shopping-cart-table td.a-center a {
  color: #d36b53;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  }
.price-box .price,
.price {
  white-space: nowrap;
  font-family: Oswald;
  color: #333333;
  }
.btn-remove2 {
  background: url("../images/spritehome.png") no-repeat scroll 10px -304px transparent;
  border: medium none;
  vertical-align: bottom;
  }
.cart-forms {
  float: left;
  padding-left: 0;
  width: 65%;
  }
#discount-coupon-form, .cart .giftcard {
  float: left;
  padding-right: 2%;
  width: 48%;
  }
#discount-coupon-form label,
 .shipping h2,
 .cart-totals-wrapper h2{
  color: #fff;
  font-family: Oswald;
  font-size: 20px !important;
  font-weight: 400;
  padding: 0 0 15px;
  width: 100%;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 15px;
 }
#discount-coupon-form label,
.shipping h2 {
  background: url("../images/whitestrip.png") repeat-x scroll 0 38px transparent;
  }
.discount-form p {
  color: #494956;
  font-family: oswald;
  font-size: 12px;
  font-weight: 500;
  margin: 8px 0 4px;
  }
#discount-coupon-form .input-text, 
.cart .giftcard .input-text {
   border-radius: 0;
   height: 30px;
   margin: 4px 10px 0 0;
   width: 100%;
   }
#discount-coupon-form .button-wrapper, 
.cart .giftcard .button-wrapper {
   display: inline-block;
   float: right;
   margin: 12px 0;
   vertical-align: bottom;
   background: none repeat scroll 0 0 #75757c;
   border: 1px solid #000;
  }
.cart-forms .shipping,
.cart-forms .discount {
   background:none;
   border: none;
   padding: 0 0 0 5px;
   }
#discount-coupon-form .field-wrapper, 
.cart .giftcard .field-wrapper {
    display: inline-block;
    width: 90%;
   }
.shipping-form .sp-methods dd li label {
   background: none  !important;
   border: medium none !important;
  }
.checkout-cart-index .shipping .sp-methods dd li input {
  float: left;
  margin-left: 15px !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
  }
.checkout-cart-index .shipping .sp-methods dd li  {
  color: #494956;
  font-family: oswald;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 5px 0;
 }
.checkout-cart-index .shipping .sp-methods dd li label {
  font-family: oswald;
  font-size: 12px;
  font-weight: 500;
  color: #494956 !important;
  font-style:normal;
  padding: 0 5px !important;
 }
.shipping .sp-methods dd {
    margin-bottom: 0;
 }
.cart .cart-totals table tfoot strong span, 
.cart .cart-totals table tfoot span.price {
  font-family:oswald;
 }
.cart-forms .shipping {
   float: right;
    padding: 0 10px 0 0;
   width: 50%;
   }
.cart-totals-wrapper {
  float: left;
  padding-left: 20px;
  width: 35%;
  }
.cart-totals-wrapper .cart-totals #shopping-cart-totals-table tr td {
  color: #333333;
  font-family: oswald;
  text-transform: capitalize;
  text-align:left;
  float: left;
   }
.cart-totals-wrapper .cart-totals #shopping-cart-totals-table tbody tr > td {
    font-size: 16px !important;
    font-weight: 500;  
  }
.cart-totals-wrapper .cart-totals #shopping-cart-totals-table tfoot tr > td {
   font-weight: 700;
   font-size:22px;
  }
.cart-totals-wrapper .cart-totals #shopping-cart-totals-table tbody tr > td.first-col:after,
.cart-totals-wrapper .cart-totals #shopping-cart-totals-table tfoot tr > td.first-col:after {
    content: ":";
 }
.cart .cart-totals table tfoot { 
  border:none;
 }
.cart .cart-totals table td:first-child {
  min-width: 0;
  padding:0;
 }
.cart .cart-totals table td {
  padding: 0 6px;
  }
.cart-totals .sp-methods dd li {
  font-family: oswald;
  margin: 5px 0;
  text-align: left;
  text-transform: capitalize;
  color: #333333
  }
.cart-totals .sp-methods dd label {
  color: #333333 !important;
  font-family: oswald;
  font-size: 12px;
  font-weight: 500;
  padding: 0 5px !important;
  }
.cart-totals .checkout-types .btn-checkout {
  font-family: oswald;
  font-size: 19px !important;
  font-weight: 500;
  margin-bottom: 0;
  padding: 12px 45px;
  text-transform: uppercase;
}
/*=======Login page========== */
.customer-account-login .col2-set .col-2 {
   border-left:none;
   }
.customer-account-login form .form-instructions {
   color: #494956;
   font-family: oswald,Times,"Times New Roman",serif;
   font-size: 13px;
   font-style: normal;
  }

/*=======User Registration========== */

.customer-account-login .col2-set .buttons-set button, .customer-account-login .col2-set .buttons-set .button {
  min-width:115px;
  }
.customer-account-create .col-main .account-create {
   padding: 0 15px;
  }
.account-create .account-detail {
   float: left;
   width: 30%;
   font-size: 16px;
   line-height: 28px;
  }
.account-create .create-account-detail .account-information {
  color: #FFFFFF;
  font-family: oswald;
  padding: 0 112px 30px 0;
  font-weight: 500;
  }
.account-create .create-account-detail .information-query {
  color: #494956;
  font-family:oswaldlight;
  padding: 0 90px 30px 0;
  }
.account-create .create-account-detail .information-query a,
.account-create .create-account-detail .imformation-retailer a{
  text-decoration: underline;
  font-family: oswald;
  font-weight: 500;
  }
.account-create .create-account-detail .imformation-retailer {
  color: #494956;
  font-family:oswaldlight;
  padding: 0 90px 30px 0;
 }
.account-create .scaffold-form {
  float: right;
  width: 70%;
  }
.account-create .scaffold-form .form-list li label {
  color: #FFFFFF;
  float: left;
  font-family: oswald;
  font-size: 14px;
  font-weight: 400;
  width: 30%;
  margin: 6px 0 0;
  }
.account-create .scaffold-form .form-list li .input-box input{
  width:70%;
  }
.customer-account-create .fieldset, .account-create .scaffold-form .buttons-set {
  margin: 0 30px !important;
  }
.account-create .scaffold-form .buttons-set,
.marketplace-seller-create .account-create #form-validate .buttons-set {
  max-width: none;
  float: right;
  }
.account-create .scaffold-form .buttons-set .required,
.marketplace-seller-create .account-create #form-validate .buttons-set .required{
  color: #FFFFFF;
  font-family: oswaldlight;
  font-size: 14px;
  margin: 0 55px 5px 0;
  }
.account-create .scaffold-form .buttons-set .button,
.marketplace-seller-create .account-create #form-validate .buttons-set .button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500 !important;
  padding: 10px 20px
  }
.customer-account-create .col-main {
   margin:0 0 300px 0;
   }
.account-create .scaffold-form .input-box .validation-advice,
.marketplace-seller-create #form-validate .fieldset .input-box .validation-advice {
   text-align: center;
   width: auto;
   }
/*=======Retailer Registration========== */
.marketplace-seller-create .col-main {
   margin:0 0 160px;
   }
.account-create .page-title h1 {
   border-bottom:none;
   text-transform: uppercase;
   font-size: 19px;
   margin-bottom: 20px;
   color: #FFFFFF;
   font-family: oswald;
   font-weight: 500;
  }
.marketplace-seller-create .account-create {
   margin: 0 40px 0 10px;
  }
.retailer-registration-detail {
  float: left;
  width: 30%;
  }
.retailer-registration-detail .retailer-detail{
  color: #FFFFFF;
  font-family: oswald;
  padding: 0 35px 30px 0;
  font-weight: 500;
  }
.retailer-registration-detail .retailer-detail span {
  color: #ffffff;
  display: block;
  font-family: oswaldlight;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 0 0;
  }
.retailer-registration-detail .retailer-detail span a{
  text-decoration:underline;
  color:#fff;
  }
.retailer-registration-detail .retailer-to {
  color: #494956;
  font-family: oswaldlight;
  padding:0 40px 30px 0;
  font-size:16px;
  }
.retailer-registration-detail .retailer-account {
  color: #494956;
  font-family: oswaldlight;
  padding: 0 44px 30px 0;
  font-size:16px;
  }
.retailer-registration-detail .retailer-account a {
  font-family: oswald;
  font-weight: 500;
  text-decoration: underline;
  }
.marketplace-seller-create #form-validate  {
  float: right;
  width: 70%;
  }
.marketplace-seller-create #form-validate .fieldset,
.marketplace-seller-create #form-validate .buttons-set{
  margin: 0 30px;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li label {
  color: #ffffff;
  float: left;
  font-family: oswald;
  font-size: 14px;
  width: 30%;
  font-weight: 400;
  margin: 6px 0 0;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li label span {
  font-family: oswaldlight;
  font-size: 15px;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .input-box input,
.marketplace-seller-create #form-validate .fieldset .form-list li .input-box textarea {
  width: 70%;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .additional-information {
  float: left;
  width: 30%;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .additional-information label {
  width: 100%;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .additional-information p {
  color: #fff;
  float: left;
  font-family: oswaldlight;
  font-size: 15px;
  padding: 10px 36px 0 0;
 }

.marketplace-seller-create #form-validate .fieldset .form-list li > div .input-box input{}


 @media only screen and (min-width:965px) and (max-width:1199px){
   

 }

 @media only screen and (min-width:768px) and (max-width:964px){
  

.col2-set .buttons-set .button, 
.col2-set .buttons-set .button2 {
   width: auto;
  }
.breadcrumbs {
   display: block;
  }
.sidebar .block .block-content {
   border: medium none !important;
  }
.sidebar .block:not(.block-layered-nav) .block-title > strong {
  background:none;
  border: medium none;
  }
.sidebar .block:not(.block-layered-nav) .block-title > strong:after {
  border:none;
   }
.sidebar .block:not(.block-layered-nav) .block-title > strong {
  padding: 0 0 0 10px;
  }
.sidebar .block:not(.block-layered-nav) .block-content{
    border: none !important;
	padding:0;
  }

 }


 @media only screen and (min-width:480px) and (max-width:767px){


.breadcrumbs {
   display: block;
   }
.checkout-onepage-index .col2-set .col-1 {
   float: right;
   padding-left: 30px;
   }
.checkout-onepage-index .col2-set .col-1 {
   float: left;
   width: 100%;
   }
.col2-set .buttons-set .button, .col2-set .buttons-set .button2 {
    width:auto;
   }
.checkout-onepage-index .col2-set .col-2 {
   float: left;
   width: 100%;
   padding-right: 30px;
   }
.opc .section .step {
   padding: 10px 30px;
  }
.checkout-onepage-index .opc #checkout-review-table-wrapper h3 {
  background: none ;
  padding: 0;
  text-transform: lowercase;
  }
#review-buttons-container .buttons-set {
  width: 160px;
  }
 .sidebar .block .block-content {
   border: medium none !important;
  }
.col2-left-layout .sidebar .collapsible.mobile-collapsible {
  margin: 55px 0 0 25px;
  }
.col2-left-layout .sidebar .block-account .block-title {
  margin: 0;
  }
.col2-left-layout .sidebar .block-title {
  background: url("../images/spritehome.png") no-repeat scroll -337px -754px rgba(0, 0, 0, 0);
  padding: 5px 0 16px 18px;
  }
.col2-left-layout .sidebar .collapsible.active .block-title {
  background: url("../images/spritehome.png") no-repeat scroll -337px -794px rgba(0, 0, 0, 0);
  }
.sidebar .block:not(.block-layered-nav) .block-title > strong {
  background:none;
  border: medium none;
  }
.sidebar .block:not(.block-layered-nav) .block-title > strong:after {
  border:none;
  }

.sidebar .block:not(.block-layered-nav) .block-content{
  border: none !important;
  padding:0;
  }
.col2-left-layout .col-main {
   float: left;
   padding-left: 25px;
   width: 100%
   }
.dashboard .welcome-msg {
   margin: 20px 0 0;
   }
/*=======Category-Page========== */


 /*.breadcrumb-links {
    display: none;
    } */
.catalog-category-view .back-button {
    display: block;
    }
/* .col-left.sidebar {
   display: none;
   } */
.category-content .title-description h1 {
   padding: 6%;
   } 
.title-description .std {
   color: #494956;
   font-family: oswaldlight;
   font-size: 13px;
   padding: 0 15px 0 18px;
   }
.alphabetical-order h4 {
   font-size: 14px;
   line-height: 16px;
   padding: 0 10px;
   width: 160px;
   }
.alphabetical-order h4 .in-order {
   display: block;
   font-size: 14px;
   margin: 8px 0 6px;
   }
.subs-category-list {
   margin: 0 auto;
   width: 100%;
   }
.subs-category-list .catagory-grid li {
   margin: 0 8% 8% 0;
   padding: 0 3%;
   width: 100%;
   }
.subs-category-list .catagory-grid .category-bg {
   width: 100%;
   }
.subs-category-list .catagory-grid .category-image img {
   width: 100% !important;
   }

/*=======Shopping Cart========== */
.checkout-cart-index .cart-table.data-table tbody td {
  border-left:none;
  }
.data-table thead th, 
.data-table tbody td {
    color: #ffffff;
    display: block;
    font-family: oswaldlight;
    font-size: 13px;
    width: 100% !important;
}
 .cell-label {
    color: #000;
    display: block !important;
    float: left;
    width: 80px;
    }
#discount-coupon-form label, .shipping h2 {
    background: none;
}
 /*=======User Registration========== */
.account-create .account-detail {
   float: left;
   font-size: 16px;
   line-height: 28px;
   width: 100%;
   }
.account-create .scaffold-form {
   float: left;
   width: 100%;
   }
/*=======Retailer Registration========== */
.retailer-registration-detail {
   float: left;
   width: 100%;
   }
.marketplace-seller-create #form-validate {
   float: left;
   width: 100%;
   }
.marketplace-seller-create #form-validate .fieldset, 
.marketplace-seller-create #form-validate .buttons-set {
   margin: 0;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .additional-information p {
  padding: 10px 10px 0 0;
  }

}
@media only screen and (min-width:320px) and (max-width:479px){

/*=======Category-Page========== */

.catalog-category-view .col2-left-layout .col-main {
    float: left;
    padding-left: 0;
    width: 100% !important;
    }
  .breadcrumbs {
    display: none;
    } 
 /* .breadcrumb-links {
    display: none;
    } */
.back-button {
    display: block !important;
    padding: 15px 0 0;
    }
.back-button button {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 6px 18px;
    }
.back-button button span {
   background: url("../images/gobackaro.png") no-repeat scroll 0 0 transparent;
   font-family: oswald;
   display: block;
   font-size: 12px;
   font-weight: 500;
   height: 11px;
   line-height: 11px;
   text-transform: uppercase;
   width: 85px;
   }
 .back-button .button:hover {
   background:none;
   }
/*.col-left.sidebar {
   display: none;
   }*/
.category-content .title-description h1 {
   padding: 6%;
   } 
.category-content .title-description h1{
   font-size: 24px;
   }
.title-description .std {
   color: #494956;
   font-family: oswaldlight;
   font-size: 12px;
   padding: 0 35px 0 20px;
   }
.title-description .std > span a {
   display: block;
   }
.alphabetical-order h4 {
   font-size: 14px;
   width: 158px;
   }
.alphabetical-order h4 .in-order {
   display: block;
   font-size: 13px;
   margin:8px 0 0;
   }
.subs-category-list {
   margin: 0 auto;
   width: 100%;
   }
.subs-category-list .catagory-grid li {
   margin: 0 8% 8% 0;
   padding: 0 3%;
   width: 100%;
   }
.subs-category-list .catagory-grid .category-bg {
   width: 100%;
   }
.subs-category-list .catagory-grid .category-image img {
   width: 100% !important;
   }
/*=======Shopping Cart========== */
.checkout-cart-index .cart-table.data-table tbody td {
  border-left:none;
  }
.data-table thead th, 
.data-table tbody td {
   color: #ffffff;
   display: block;
   font-family: oswaldlight;
   font-size: 13px;
   width: 100% !important;
   }
 .cell-label {
    color: #000;
    display: block !important;
    float: left;
    width: 80px;
    }
#discount-coupon-form label, .shipping h2 {
    background: none;
   }
#discount-coupon-form, .cart .giftcard {
   float: left;
   padding-right: 2%;
   width: 98%;
   }
.cart-forms .shipping {
   float: left;
   width: 100%;
  }
.cart-totals-wrapper {
    clear: both;
  }

 .breadcrumbs {
   display: block;
   }
.checkout-onepage-index .col2-set .col-1, .checkout-onepage-index .col2-set .col-2, 
.customer-account-login .col2-set .col-1, .customer-account-login .col2-set .col-2 {
    padding: 15px 30px;
    width: 100%;
   }
.checkout-onepage-index .col2-set .col-1 {
   float: right;
   padding-left: 30px;
   }
.checkout-onepage-index .col2-set .col-1 {
   float: left;
   width: 100%;
   }
.col2-set .buttons-set .button, .col2-set .buttons-set .button2 {
    width:auto;
   }
.checkout-onepage-index .col2-set .col-2 {
   float: left;
   width: 100%;
   }
.opc .section .step {
   padding: 10px 30px;
  }
.checkout-onepage-index .opc #checkout-review-table-wrapper h3 {
  background: none ;
  padding: 0;
  text-transform: lowercase;
  }
#review-buttons-container .buttons-set {
   width: 160px;
   }
.col2-left-layout .sidebar .collapsible.mobile-collapsible {
   margin: 55px 0 0 25px;
   }
.col2-left-layout .sidebar .block-account .block-title {
   margin: 0;
   }
.col2-left-layout .sidebar .block-title {
   background: url("../images/spritehome.png") no-repeat scroll -337px -754px rgba(0, 0, 0, 0);
   padding: 5px 0 16px 18px;
   }
.col2-left-layout .sidebar .collapsible.active .block-title {
   background: url("../images/spritehome.png") no-repeat scroll -337px -794px rgba(0, 0, 0, 0);
   }
.sidebar .block:not(.block-layered-nav) .block-title > strong {
  background:none;
  border: medium none;
  }
.sidebar .block:not(.block-layered-nav) .block-title > strong:after {
  border:none;
   }
.sidebar .block:not(.block-layered-nav) .block-content{
  border: none !important;
  padding:0;
  }
.col2-left-layout .col-main {
   float: left;
   padding-left: 25px;
   width: 100%
   }
.dashboard .page-title {
   float: left;
   width: 100%;
   }

.dashboard .welcome-msg {
   margin: 5px 0 0;
   width: 100%;
   }
   
.addresses-list .item {
    float: left;
    padding-right: 30px;
    width: 100%;
  }
.data-table thead th, .data-table tbody td {
    border-bottom: medium none !important;
  }
/*=======User Registration========== */
.account-create .account-detail {
   float: left;
   font-size: 16px;
   line-height: 28px;
   width: 100%;
   }
.account-create .create-account-detail .account-information {
   padding: 0 10px 30px 0;
   }
.account-create .create-account-detail .information-query {
   padding: 0 10px 30px 0;
   }
.account-create .create-account-detail .imformation-retailer {
   padding: 0 10px 30px 0;
   }
.account-create .scaffold-form {
   float: left;
   width: 100%;
   }
.account-create .scaffold-form .form-list li label {
   width: 100%;
   }
.account-create .scaffold-form .form-list li .input-box input {
   width: 100%;
   }
.customer-account-create .fieldset, .account-create .scaffold-form .buttons-set {
   margin: 0 10px !important;
   }
.account-create .scaffold-form .buttons-set {
   max-width: none;
   }
/*=======Retailer Registration========== */
.retailer-registration-detail {
  float: left;
  width: 100%;
  }
.retailer-registration-detail .retailer-detail {
  padding: 0 10px 30px 0;
  }
.retailer-registration-detail .retailer-detail span {
  padding: 12px 0 0;
  }
.retailer-registration-detail .retailer-to {
  padding: 0 10px 30px 0;
  }
.retailer-registration-detail .retailer-account {
  padding: 0 10px 30px 0;
  }
.marketplace-seller-create #form-validate {
  float: left;
  width: 100%;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li label {
  width: 100%;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .input-box input, 
.marketplace-seller-create #form-validate .fieldset .form-list li .input-box textarea {
  width: 100%;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .additional-information {
  width: 100%;
  }
.marketplace-seller-create #form-validate .fieldset, 
.marketplace-seller-create #form-validate .buttons-set {
  margin:0;
  }
.marketplace-seller-create #form-validate .fieldset .form-list li .additional-information p {
  padding: 10px 0 0;
  }

}

@media only screen and (min-width:240px) and (max-width:319px){

}
