<?xml version="1.0"?>
<config>
    <modules>
        <Oscp_Categorynav>
            <version>0.1.0</version>
     </Oscp_Categorynav>
    </modules>   
    <global>  
	<blocks>
		<categorynav>
			<class>Oscp_Categorynav_Block</class>
		</categorynav>		
	</blocks>
    <helpers>
            <categorynav>
                <class>Oscp_Categorynav_Helper</class>
            </categorynav>
     </helpers>
  </global>
</config>
