<?xml version="1.0"?>
<config>
  <modules>
    <Oscp_AdvancedNewsletter>
      <version>1.0.0</version>
    </Oscp_AdvancedNewsletter>
  </modules>
  <frontend>
    <routers>
      <advancednewsletter>
        <use>standard</use>
          <args>
            <module>Oscp_AdvancedNewsletter</module>
            <frontName>advancednewsletter</frontName>
          </args>
      </advancednewsletter>
    </routers>
  </frontend>
  <global>
		<rewrite>        
            <oscp_advancednewsletter_newsletter_subscribercontroller>
                <from><![CDATA[#^/newsletter/subscriber/#]]></from> <!-- Mage_Newsletter_SubscriberController  -->
                <to>/advancednewsletter/newsletter_subscriber/</to> <!-- Oscp_AdvancedNewsletter_Newsletter_SubscriberController  -->
            </oscp_advancednewsletter_newsletter_subscribercontroller>
		</rewrite>
    <helpers>
      <advancednewsletter>
        <class>Oscp_AdvancedNewsletter_Helper</class>
      </advancednewsletter>
    </helpers>
  </global>
  <admin>
	<routers>
	  <advancednewsletter>
	    <use>admin</use>
		<args>
		  <module>Oscp_AdvancedNewsletter</module>
		  <frontName>advancednewsletter</frontName>
		</args>
	  </advancednewsletter>
	</routers>
  </admin>
</config> 