<?xml version="1.0"?>
<config>
    <modules>
        <Oscp_ProductEnquiry>
            <version>0.1.0</version>
        </Oscp_ProductEnquiry>
    </modules>
    <frontend>
        <routers>
            <productenquiry>
                <use>standard</use>
                <args>
                    <module>Oscp_ProductEnquiry</module>
                    <frontName>productenquiry</frontName>
                </args>
            </productenquiry>
        </routers>
        <translate>
            <modules>
                <Oscp_ProductEnquiry>
                    <files>
                        <default>Oscp_ProductEnquiry.csv</default>
                    </files>
                </Oscp_ProductEnquiry>
            </modules>
        </translate>
        <layout>
            <updates>
                <productenquiry>
                    <file>productenquiry.xml</file>
                </productenquiry>
            </updates>
        </layout>
    </frontend>  
    <admin>
        <routers>
            <productenquiry>
                <use>admin</use>
                    <args>
                        <module>Oscp_ProductEnquiry</module>
                        <frontName>productenquiry</frontName>
                    </args>
            </productenquiry>
        </routers>
    </admin>
    <global>
        <models>
            <productenquiry>
                <class>Oscp_ProductEnquiry_Model</class>
            </productenquiry>
        </models>
        <resources>
            <productenquiry_setup>
                <setup>
                    <module>Oscp_ProductEnquiry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productenquiry_setup>
            <productenquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productenquiry_write>
            <productenquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productenquiry_read>
        </resources>
        <blocks>
            <productenquiry>
                <class>Oscp_ProductEnquiry_Block</class>
            </productenquiry>
        </blocks>
        <helpers>
            <productenquiry>
                <class>Oscp_ProductEnquiry_Helper</class>
            </productenquiry>
        </helpers>
	    <template>
            <email>
                <productenquiry_email_email_template translate="label" module="productenquiry">
                    <label>Product Enquiry</label>
                    <file>product_enquiry.html</file>
                    <type>html</type>
                </productenquiry_email_email_template>
            </email>
        </template>
    </global>
    <default>
        <productenquiry>            
            <email>
                <recipient_email_sendto><![CDATA[hello@example.com]]></recipient_email_sendto>
                <sender_email_identity_sender>custom2</sender_email_identity_sender>
                <email_template>productenquiry_email_email_template</email_template>
            </email>
        </productenquiry>
    </default>
</config>